
* {
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  transition: 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
body {
font-family: sans-serif;
background-color: White;
}
.ham {
width: 40px;
height: 40px;
background: gray rgb;
border-radius: 7px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 90s;
position: fixed;
top: 15px;
right: 20px rgba(0,0,0,0.30);
}
.line1, .line2, .line3{
background: black;
border-radius: 3px;
width: 25px;
height: 3px;
margin: 2px;
}
.active .line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.active .line2 {
  opacity: 0;
}
.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
.link{    
  left: 0%;
}
nav ul {
 left: -50%;
 position: fixed;
 height: 100vh;
 width: 30%;
 background: White;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
ul h1{
color: #fffff;
}
ul li{
text-align:center;
padding:15px 0;
width: 100%;
}
ul li:hover{
background: 26A69A;
padding-left: 7%;
width:93%; 
}
li a{
color: #fffff;
}
.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
}
html {
margin: 0%;
background: White;
}
h3{
text-align: center;
font-size: 30px;
margin: 0;
padding-top: 10px;
}
a{
text-decoration: none;
}
.gallery{
display: flex;
flex-wrap: wгар;
width: 100%;
justify-content: center;
align-items: center;
margin: 50px 0;
}
.content{
width: 20%;
margin: 15px;
box-sizing: border-box;
float: left;
text-align: center;
border-radius: 20px;
cursor: pointer;
padding-top: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25),
0 10px 10px rgba(0,0,0,0.22);
transition: -45s;
background: #f2f2f2;
}
.content:hover{
box-shadow: 0 3px 6px rgba(0,0,0,0.16),
0 3px 6px rgba(0,0,0,0.23);
transform: translate(0px, -8px);
}
.img{         
width: 200%;
height: 200%; 
text-align: center;
margin: 0 auto;
display: block;
}
.p{
text-align: center;
color: #fffff;
padding-top: 0 08;
}
h6{
font-size:26px;
text-align: center;
color: #40e1ffec;
}
ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-top: 0%;
}
li{
padding-top: 5px;
}
.fa{
font-size: 26px;
transition: .4s;
margin:5%;
}
.checked{
color: #ffb355;
}
.fa:hover{
transform: scale(1.3);
transition: .65s;
}
/*add to card button*/
button{
text-align: center;
font-size: 24px;
color: #ffc82a;
width: 50%;
padding-top: 15px;
border-radius: 0;
online:none;
corsor: pointer;
margin-top: 5px;
background: #fffff;
}
li a{
  color: #fffff;
}
/*<h1> tag*/
h1{ 
  font-size:150px;
  margin-top:150px;
}
/*google logo colors*/
.g-blue{ color:#4285F4; }
.o-red{ color:#DB4437; }
.o-yellow{ color:#F4B400; }
.l-green{ color:#0F9D58; }
.e-red{ color:#DB4437; }
/*Search*/
input{
  width:84%;
  margin-left:5%;
  border:1px solid #DADCE0;
  border-radius:30px;
  outline:none;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:3%;
  padding-right:3%;
}
h4{
  margin-left:8%;
  margin-top:40px;
}
ul{
  width:90%;
  list-style-type: none;
  margin-left:2%;
  padding: 0%;
  overflow: hidden;
}
li a{
  display: block;
  padding: 10px;
  text-decoration:none;
  color:#303030;
  border-bottom:1px solid #DADCE0;
} 
li a i{
  margin-right:20px;
}
